ul li{
    list-style-type: none;
}
.icons li{
    display: inline;
    padding: 5px;
}
.lead,.f1{
    font-family:cursive;
    font-size: large;
}
a{
    color: white;
    text-decoration: none;
}
.p1,.p4,.f2{
    font-family: cursive;
    font-size: medium;
}
.p2,.f3{
    font-family: cursive;
    font-size: small;
    font-style: italic;
}
.c1,.c2{
    color: darkblue;
    font-family: cursive;
    font-style: oblique;
}
.f4{
    font-family: cursive;
    font-style: italic;
    font-size: larger;
    text-transform: capitalize;
}


